body {
    font-family: serif;
    background-color: #FFE8D6;
    margin: 0px;
}

p {
    font-size: 18px;
    line-height: 0.8;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #6B705C;
}

.page-top {
    background-color: #A5A58D;
    padding: 20px;
}

.site-name {
    color: #FFE8D6;
    display: inline-block;

}

.log-out {
    color: #FFE8D6;
    display: inline-block;
    float: right;

}

.page-header {
    font-size: 14px;
    padding: 20px;
    text-align: center;
}

.float-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.float-child {
    text-align: center;
    display: inline-block;
    width: 25%;
    margin: 1%;
    border: 10px solid #6B705C;
    border-radius: 15px;
    background-color: #A5A58D;
}

.deets {
    text-align: center;
    width: 53%;
    margin: auto;
    margin-bottom: 1%;
    border: 10px solid #6B705C;
    border-radius: 15px;
    background-color: #A5A58D;
}

.float-header {
    text-align: center;
    color: #FFE8D6;
    background: #6B705C;
    padding: 20px;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    line-height: 1.5;
    font-size: 18px;
}

.redirect-links {
    text-decoration: underline;
    text-align: center;
    margin-bottom: 30px;
}

.details {
    padding: 20px;
}

.flash-msg {
    color:#6B705C;
    margin-left: 20px;
}

form {
    padding-right: 30px;
    padding-left: 30px;
    text-align: left;
}

input[type=text], select {
    border: 0;
    border-radius: 4px;
    width: 50%;
    float: right;
}

input[type=number], select {
    border: 0;
    border-radius: 4px;
    width: 50%;
    float: right;
}

textarea {
    border: 0;
    border-radius: 4px;

}

input[type=submit] {
    border: 0;
    border-radius: 4px;
    width: 120px;
    display: block;
    margin: 0 auto;
}