body {
    font-family: serif;
    background-color: white;
}

p {
    font-size: 18px;
    line-height: 0.8;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

.page-top {
    background-color: floralwhite;
    padding: 20px;
}

.site-name {
    color: #985f99;
    display: inline-block;

}

.log-out {
    color: #985f99;
    display: inline-block;
    float: right;

}

.page-header {
    font-size: 14px;
    padding: 20px;
}


.float-child {
    display: inline-block;
    padding: 20px;
    width: 40%;
    vertical-align: top;
}

ul {
    list-style-type: none;
    padding: 0;
    line-height: 1.5;
}

.redirect-links {
    padding: 20px;
}

.details {
    padding: 20px;
}
