<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
      {% block title %} Craft Tracker {% endblock %}
    </title>

    <div class="page-top">
      <div class="site-name">
        <h1>craft tracker</h1>
      </div>
      <div class="log-out">
        <p><a href="/log_out">Log out</a></p>
      </div>
    </div>
    
  </head>
  
  <body>
    {% for msg in get_flashed_messages() %}
      <p class="flash-msg">
        {{ msg }}
      </p>
    {% endfor %}

    {% block body %}{% endblock %}

    {% block after_body %}{% endblock %}
  </body>
</html>
