{% extends 'base.html' %}
{% block body %}


<div class="page-header">
    <h1>Edit update {{ update.update_name }}</h1>
</div>

<div class="float-child">
    <form action="/update/{{ update.update_id }}/execute_edits" method="POST">
        <p>Update name <input type="text" name="update_name" </p>
        <p>Percent done <input type="number" name="percent_done" min="0" max="100" </p>
        <p><label for="notes">Notes</label></p>
            <textarea name="notes" rows="4" cols="50"></textarea>

        <p><input type="submit"></p>
    </form>
</div>

<div class="redirect-links">
    <p><a href="/update/{{ update.update_id }}">Back to update</a></p>
</div>

{% endblock %}