{% extends 'base.html' %}
{% block body %}


<div class="page-header">
    <h2>Filter projects</h2>
</div>

<div class="float-child">
    <form action="/filter_results" method="POST">
        
        <p><label for="craft_type">Type of craft </label>
        <select name="craft_type" id="craft_type">
            <option value="%%">Any</option> 
            <option value="Crocheting">Crocheting</option>
            <option value="Cross stitching">Cross stitching</option>
            <option value="Embroidery">Embroidery</option>
            <option value="Knitting">Knitting</option>
            <option value="Quilting">Quilting</option>
            <option value="Sewing">Sewing</option>
            <option value="Other">Other</option>
        </select></p>

        <p><label for="proj_type">Type of project </label>
        <select name="proj_type" id="proj_type">
            <option value="%%">Any</option>
            <option value="Bag">Bag</option>
            <option value="Blanket">Blanket</option>
            <option value="Dress">Dress</option>
            <option value="Gloves">Gloves</option>
            <option value="Hat">Hat</option>
            <option value="Pants">Pants</option>
            <option value="Plush">Plush</option>
            <option value="Shirt">Shirt</option>
            <option value="Socks">Socks</option>
            <option value="Sweater">Sweater</option>
            <option value="Other">Other</option>
        </select></p>

        <p><label for="difficulty">Difficulty </label>
            <select name="difficulty" id="difficulty">
                <option value="%%">Any</option>
                <option value="Beginner">Beginner</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Hard">Hard</option>
                <option value="Expert">Expert</option>
            </select></p>

        <p><label for="proj_status">Project status </label>
            <select name="proj_status" id="proj_status">
                <option value="%%">Any</option>
                <option value="Planned">Planned</option>
                <option value="In progress">In progress</option>
                <option value="Complete">Complete</option>
            </select></p>

        <p><input type="submit"></p>
    </form>
</div>

<div class="redirect-links">
    <p><a href="/user_profile">Back to profile</a></p>
</div>

{% endblock %}