{% extends 'base.html' %}
{% block body %}


<div class="page-header">
    <h1>Welcome!</h1>
</div>

<div class="float-container">

    <div class="float-child">
        <h2>Log In</h2>
            <form action="/login" method="POST">
                <p>
                    Email <input type="text" name="email">
                </p>
                <p>
                    Password <input type="text" name="password">
                </p>
                <p>
                    <input type="submit">
                </p>
            </form>
    </div>

    <div class="float-child">
        <h2>Create an account</h2>
            <form action="/users" method="POST">
                <p>
                    First name <input type="text" name="fname">
                </p>
                <p>
                    Last name <input type="text" name="lname">
                </p>
                <p>
                    Email <input type="text" name="email">
                </p>
                <p>
                    Password <input type="text" name="password">
                </p>
                <p>
                    <input type="submit">
                </p>
            </form>
    </div>
</div>


{% endblock %}