{% extends 'base.html' %}
{% block body %}

<h1>{{ project.proj_name }}</h1>

<a href="{{ project.pattern_link }}">Pattern Link</a>
<p>Craft: {{ project.craft_type }}</p>
<p>Project type: {{ project.proj_type }}</p>
<p>Difficulty: {{ project.difficulty }}</p>
<p>Free or paid: 
    {% if project.free_pattern == True %}
    Free
    {% else %}
    Paid
    {% endif %} </p>
<p>Project status: {{ project.proj_status }}</p>

<p><a href="/user_profile">Back to profile</a></p>

<h2>Create update</h2>
    <form action='/updates' method="POST">
        <p>Update name <input type="text" name="update_name" </p>
        <p>Progress <input type="range" min="1" max="100" class="slider" name="percent_done" ></p> 
        <p><label for="notes">Notes</label></p>
            <textarea name="notes" rows="4" cols="50"></textarea>

        <p><input type="submit"></p>
    </form>

{% endblock %}