{% extends 'base.html' %}
{% block body %}


<div class="page-header">
    <h1>Update: {{ update.update_name }}</h1>
</div>

<div class="redirect-links">
    <p><a href="/user_profile/{{ update.project.proj_id }}">Back to project</a></p>
    <p><a href="/update/{{ update.update_id }}/edit">Edit update</a></p>
    <p><a href="/update/{{ update.update_id }}/delete">Delete update</a></p>
</div>

<div class="deets">
    <h2 class="float-header">Update details</h2>
    <p>Progress: <span>{{ update.percent_done }}%</span></p>
    <p>Notes: <span>{{ update.notes }}</span></p>
</div>

{% endblock %}